docker-compose.yml
docker-compose.dev.yml
docker-compose.elk.yml
docker-compose.common.yml

/node_modules

.prettierrc
.prettierignore
README.md
.eslintrc.js
.gitignore
.dockerignore
ds.ts
.git
nginx.conf
Dockerfile
